{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>SYMBOL</th>
            <th>COMPANY</th>
            <th>SHARES</th>
            <th>PRICE</th>
            <th>TOTAL</th>
            <th>TYPE</th>
        <tr>
    </thead>
    <tbody>
        {%for data in datas%}
        <tr>
            <td>{{data["symbol"]}}</td>
            <td>{{data["company"]}}</td>
            <td>{{data["shares"]}}</td>
            <td>${{data["price"]}}</td>
            <td>${{data["total"]}}</td>
            <td>{{data["type"]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}