{%extends "layout.html"%}
{%block title%}
Sell
{%endblock%}
{%block main%}
<form action="/sell" method="post">
    <div class="mb-3">
        <select name="menu">
            <option selected disabled value="">-</option>
            {%for i in stocks%}
            <option>{{i["symbol"]}}</option>
            {%endfor%}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="quote" name="shares" placeholder="Shares" required type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{%endblock%}