<!DOCTYPE html>

<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Birthdays</title>
</head>

<body>
    <div class="header">
        <h1>Birthdays</h1>
    </div>
    <div class="container">
        <div class="section">

            <h2>Add a Birthday</h2>
            <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            <form action="/" method="post">
                <input type="text" name="name" autofocus required autocomplete="off" placeholder="Name">
                <input type="number" name="month" required placeholder="month">
                <input type="number" name="day" required placeholder="day">
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="section">
            <p>{{error}}</p>
            <h2>All Birthdays</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    {%for row in data%}
                    <tr>
                        <td>{{row["name"]}}</td>
                        <td>{{row["month"]}}/{{row["day"]}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>